/* Author  :ANJALI SOMAN
Date    :07-09-2023 */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container{
    background-color: #e7e1e1;
    text-align: center;
    border-top: 12px #2554d6 solid;
    height: 100vh;
}
#gteclogo{
    height: 200px;
}
#whitebg{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 15px;
}
#whitebg img{
    width: 170px;
    
}
p{
    font-weight: bold;
}